# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Vector Database
# =========================
backend/data/vector_db/

# =========================
# Uploaded PDFs
# =========================
backend/data/raw/medical_pdfs/

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/