fastapi
uvicorn
langchain
langchain-community
langchain-jina
langchain-core
langchain-text-splitters
chromadb
sentence-transformers
pypdf
python-dotenv
groq
langchain-groq
sqlalchemy
pydantic
python-multipart
requests
tqdm
numpy
pandas
pytest
